@using System.Web.Optimization
@using SocialNetwork.Web.App_GlobalResources
@using SocialNetwork.Web.Core
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css-admin")
        @RenderSection("styles", false)

        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/modernizr")
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">@Resources.MainName <small>[admin]</small></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.ActionMenuItem("Пользователи","Index","Users", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                        @Html.ActionMenuItem("Логи","Index","Users", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                    </ul>

                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>

        <footer class="navbar-fixed-bottom row">
            <div class="container">
                <div class="copyright pull-right">
                    Copyright &copy; AppiusCompany 2013 | Version: @Html.ApplicationVersion() @Html.GetRootLink()
                </div>
            </div>
        </footer>

        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>
