@using System.Web.Optimization
@using SocialNetwork.Web.App_GlobalResources
@using SocialNetwork.Web.Core
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/bootstrap/bootstrap")
        @Styles.Render("~/Content/css-admin")
        @RenderSection("styles", false)

        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/modernizr")
    </head>
    <body>
        <div class="container">
            <div>
                <h3 class="text-muted">
                    @Resources.MainName <small>[admin]</small>
                </h3>
                <ul class="nav nav-justified">
                    @Html.ActionMenuItem("Главная страница","Index","Home", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                    @Html.ActionMenuItem("Пользователи","Index","Users", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                    @Html.ActionMenuItem("Логи","Index","Elmah", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                    @Html.ActionMenuItem("Статистика базы данных","Index","DatabaseStats", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string,"admin")
                </ul>
            </div>

            @RenderBody()
        </div>

        <footer class="navbar-fixed-bottom row">
            <div class="container">
                <div class="copyright pull-right">
                    Copyright &copy; AppiusCompany 2013 | Version: @Html.ApplicationVersion() @Html.GetRootLink()
                </div>
            </div>
        </footer>

        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>
