@using SocialNetwork.Web.App_GlobalResources
@model SocialNetwork.Web.ViewModels.AdvancedInfoViewModel

<div class="form-edit">
    @using (Html.BeginForm("SaveAdvancedInfo", "Account", FormMethod.Post, new {@class = "form-horizontal", @onsubmit = "$(this).find('input[type=\"submit\"]').attr('disabled', 'disabled');"}))
    {
        <fieldset>
            @Html.ValidationSummary("", new {@class = "bs-callout-danger"})

            <div class="form-group">
                @Html.LabelFor(m => m.Activies, new {@class = "control-label"})
                
                <div class="controls">
                    @Html.TextAreaFor(m => m.Activies, new {@placeholder = "Activies", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.Activies)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Interests, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.Interests, new {@placeholder = "Interests", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.Interests)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FavoriteMusic, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.FavoriteMusic, new {@placeholder = "FavoriteMusic", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.FavoriteMusic)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FavoriteMovies, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.FavoriteMovies, new {@placeholder = "FavoriteMovies", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.FavoriteMovies)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FavoriteBooks, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.FavoriteBooks, new {@placeholder = "FavoriteBooks", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.FavoriteBooks)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FavoriteGames, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.FavoriteGames, new {@placeholder = "FavoriteGames", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.FavoriteGames)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FavoriteQuotes, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.FavoriteQuotes, new {@placeholder = "FavoriteQuotes", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.FavoriteQuotes)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AboutMe, new {@class = "control-label"})

                <div class="controls">
                    @Html.TextAreaFor(m => m.AboutMe, new {@placeholder = "AboutMe", @class = "form-control", @rows="5"})
                    @Html.ValidationMessageFor(m => m.AboutMe)
                </div>
            </div>

            <div class="controls pull-right">
                <input type="submit" value="@Resources.Save" class="btn btn-success" />
            </div>
        </fieldset>
    }
</div>