@using SocialNetwork.Web.App_GlobalResources
@model SocialNetwork.Web.ViewModels.ChangePasswordViewModel

<div class="col-md-offset-3 col-md-6 form-edit">
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new {@class = "form-horizontal", @onsubmit = "$(this).find('input[type=\"submit\"]').attr('disabled', 'disabled');"}))
    {
        <fieldset style="margin-top: 20px;">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})

                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword, new {@placeholder = "OldPassword", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})

                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new {@placeholder = "NewPassword", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})

                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = "ConfirmPassword", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <div class="controls pull-right">
                <input type="submit" value="@Resources.Save" class="btn btn-success" />
            </div>
        </fieldset>
    }
</div>