@using SocialNetwork.Web.Core
@using SocialNetwork.Web.ViewModels
@{
    var act = Request["act"] ?? (string) ViewBag.Act ?? string.Empty;

    ViewBag.Title = "SN :: Change settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs nav-justified" style="margin-bottom: 20px;">
    @Html.MenuItem("Основные данные", "", act, "Edit", "Account")
    @Html.MenuItem("Изменение пароля", "changepass", act, "Edit", "Account")
    @Html.MenuItem("Дополнительные данные", "advanced", act, "Edit", "Account")
</ul>

@Html.ValidationSummary("", new {@class = "bs-callout-danger"})

@if (!string.IsNullOrWhiteSpace(Request["success"]))
{
    <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Успех!</strong> Данные сохранены успешно!
    </div>
}

@switch (act)
{
    case "changepass":
    {
        var model = Model as ChangePasswordViewModel;
        @Html.Partial("ChangePasswordPartial", model)
        break;
    }
    case "advanced":
    {
        var model = Model as AdvancedInfoViewModel;
        @Html.Partial("AdvancedInfoPartial", model)
        break;
    }
    default:
    {
        var model = Model as GeneralInfoViewModel;
        @Html.Partial("GeneralInfoPartial", model)
        break;
    }
}


@section scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('.validation-summary-valid, .validation-summary-errors').addClass('alert alert-error');

            $("form").bind('invalid-form.validate',
                function() {
                    $(document).find('input[type=\"submit\"]').removeAttrs('disabled');
                }
            );
        });
    </script>
    @Scripts.Render("~/Scripts/validation")
}