@using SocialNetwork.Web.App_GlobalResources

@model SocialNetwork.Web.ViewModels.LogOnViewModel
@{
    ViewBag.Title = "SN :: Введите данные аккаунта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary(true, "Неверный логин/пароль. Введите корректные данные и попробуйте еще раз.",new {@class="bs-callout-danger"})

<div class="form-signin">
    @using (Html.BeginForm("LogOn","Account",FormMethod.Post, new {@onsubmit = "$(this).find('input[type=\"submit\"]').attr('disabled', 'disabled');" }))
    {
        <fieldset>
            <legend>Данные аккаунта</legend>

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new {@placeholder="Email", @class="form-control"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@placeholder="Password", @class="form-control"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group" style="margin-top: 5px;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox", @style = "display: inline;"})
            </div>

            <div class="pull-left registration-link">
                @Html.ActionLink(@Resources.Registration,"Register","Account")
            </div>
            <div class="pull-right">
                <input type="submit" value="@Resources.Entrance" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>

@section scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('.validation-summary-valid, .validation-summary-errors').addClass('alert alert-error');

            $("form").bind('invalid-form.validate',
                function () {
                    $(document).find('input[type=\"submit\"]').removeAttrs('disabled');
                }
            );
        });
    </script>
    @Scripts.Render("~/Scripts/validation")
}

