@model SocialNetwork.Web.ViewModels.AddFriendViewModel

<div class="modal fade" id="AddFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddFriendPartial", "User", FormMethod.Post, new {@class = "form-horizontal", @onsubmit = "$(this).find('input[type=\"submit\"]').attr('disabled', 'disabled');"}))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Запрос на дружбу</h4>
                </div>
                <div class="modal-body">
                    <div class="msg-new">
                        <fieldset>
                            @Html.HiddenFor(m => m.Email, new {@value = Model.Email})

                            <div class="form-group">
                                @Html.LabelFor(m => m.ToUser, new {@class = "control-label"})

                                <div class="controls">
                                    @Html.TextBoxFor(m => m.ToUser, new {@class = "form-control", @value = Model.ToUser, @disabled = "disabled"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Message, new {@class = "control-label"})
                
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.Message, new {@placeholder = "Message Text", @class = "form-control", @rows = "5"})
                                    @Html.ValidationMessageFor(m => m.Message)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Отправить" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>