@using SocialNetwork.Web
@using SocialNetwork.Web.Core
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        @*<link rel="shortcut icon" href="../../assets/ico/favicon.png">*@
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">@Resources.MainName</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.ActionMenuItem(@Resources.MyPage,"Index","User", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string)
                        @Html.ActionMenuItem(@Resources.Friends,"Friends","Account", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string)
                        @Html.ActionMenuItem(@Resources.Overview,"Overview","Home", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string)
                    </ul>

                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="navbar-fixed-bottom row">
            <div class="container">
               Copyright &copy; AppiusCompany 2013 | Version: @Html.ApplicationVersion() @Html.GetAdminLink()
            </div>
        </footer>

        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>