@using SocialNetwork.Web.App_GlobalResources
@using SocialNetwork.Web.Core
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/bootstrap/bootstrap")
        @Styles.Render("~/Content/css")
        @RenderSection("styles", false)

        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/modernizr")
    </head>
    <body>
        <div id="wrap">
            <div id="main">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">@Resources.MainName</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionMenuItem(@Resources.MyPage, "Index", "User", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string)
                                    @Html.Raw(HttpUtility.HtmlDecode(Html.ActionMenuItem(@Resources.Friends, "Friends", "User", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string, 0, "countNewRequests").ToHtmlString()))
                                    @Html.Raw(HttpUtility.HtmlDecode(Html.ActionMenuItem(@Resources.Messages, "Messages", "User", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string, 0, "countNewMessages").ToHtmlString()))
                                }
                                @Html.ActionMenuItem(@Resources.Overview,"Index","Overview", ViewContext.RouteData.Values["controller"] as string, ViewContext.RouteData.Values["action"] as string)
                            </ul>

                            @Html.Partial("_LogOnPartial")
                        </div>
                    </div>
                </div>

                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="container text-center">
                @Html.GetCopyrightText() @Html.GetAdminLink()
            </div>
        </footer>

        @Scripts.Render("~/Scripts/site")
        @Scripts.Render("~/Scripts/bootstrap")
        @if (Request.IsAuthenticated)
        {
            <script language="javascript" type="text/javascript">
                $(document).ready(function() {
                    LoadCountNewNumbers();
                    setTimeout(LoadCountNewNumbers, 30000);
                });
            </script>
        }
        @RenderSection("scripts", false)
    </body>
</html>